body {
    margin: 5px;
    background-color: #e0e0e0;
}
a {
    text-decoration: none;
}

#index-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.header-item {
    display: flex;
    align-items: center;
}
.header-item p {
    font-size: 20px;
    margin-right: 10px;
}
.header-item a {
    padding: 5px 10px;
    background-color: #ff8f8f;
    color: #fff;
    border-radius: 10px;
}

.progress {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
meter {
    width: 100%;
    height: 40px;
}

.index-form {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.index-form h2 {
    margin-top: 5px;
}

table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border-collapse: collapse;
}
table tr {
    border-bottom: solid 1px #e0e0e0;
}
.done {
    text-decoration: line-through;
    color: #b8b8b8;
}